body{
  background: #7d8284;
  margin-top: 20px;
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

#header {
  height: 42px;
  width: 934px;
  box-shadow: 2px 2px 7px #666, -2px 1px 7px #666;

  border-radius: 12px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 77%, #cdcccd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(77%,#eaeaea), color-stop(100%,#cdcccd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 77%,#cdcccd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 77%,#cdcccd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 77%,#cdcccd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 77%,#cdcccd 100%); /* W3C */
}

#header .content ul{
  padding: 0;
  position: relative;
}

#header .content ul li{
  line-height: 42px;
  display: inline-block;
  border-right: #888988 solid 1px;
}

#header .content ul li a{
  padding: 0 14px;
  line-height: 42px;
  display: inline-block;

  color: #333333;
  text-decoration: none;
}

#header .content ul li.hover-attention{
  border-right: none;
}

#header .content ul li.hover-attention a:hover{
  text-decoration: underline;
}

#header .content ul li:last-child{
  position: absolute;
  right: 0;
  border-radius: 0 10px 10px 0;
}

#header .content ul li:last-child{
  border-left: #888988 solid 1px;
}
#header .content ul li:last-child a{
  border-radius: 0 10px 10px 0;
}

#header .content ul li:first-child a{
  border-radius: 10px 0 0 10px;
}

#header .content ul li a:hover{
  color: #fff;
  background: #bdbdbd; /* Old browsers */
  background: -moz-linear-gradient(top, #bdbdbd 10%, #8e8e8e 45%, #8e8e8e 58%, #bdbdbd 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#bdbdbd), color-stop(45%,#8e8e8e), color-stop(58%,#8e8e8e), color-stop(90%,#bdbdbd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bdbdbd 10%,#8e8e8e 45%,#8e8e8e 58%,#bdbdbd 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bdbdbd 10%,#8e8e8e 45%,#8e8e8e 58%,#bdbdbd 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bdbdbd 10%,#8e8e8e 45%,#8e8e8e 58%,#bdbdbd 90%); /* IE10+ */
  background: linear-gradient(to bottom, #bdbdbd 10%,#8e8e8e 45%,#8e8e8e 58%,#bdbdbd 90%); /* W3C */
}